{% extends "account/base.html" %}
{% load url from future %}
{% load account %}
{% load i18n %}


{% block head_title %}Подтверждение e-mail{% endblock %}


{% block content %}
<div class="container">
<h1>Подтверждение e-mail</h1>

{% if confirmation %}
   {%  with confirmation.email_address.email as email %}
   {% user_display confirmation.email_address.user as user_display %}

<p>Пожалуйста, подтвердите, что <a href="mailto:{{ email }}">{{ email }}</a> является электронным адресом для пользователя <b>{{ user_display }}</b>.</p>
  {% endwith %}
<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-default" type="submit">Подтвердить</button>
</form>


{% else %}

{% url 'account_email' as email_url %}

<p>Ссылка для смены пароля недействительна.  Пожалуйста, сделайте запрос на <a href="{{ email_url}}">новое подтверждение e-mail</a></p>

{% endif %}
</div>
{% endblock %}
