{% extends 'account/base.html' %}
{% block head_title %}Изменить пароль{% endblock %}
{% load widget_tweaks %}
{% block content %}



  <div class="container">
    <p class="alert alert-info text-center" ><b>Забыли свой пароль?</b> Введите свой e-mail в форму расположеную ниже, и мы  пришлём вам инструкции для получения нового пароля.</p>
  </div>
  <div class="auth-form box sidebar-shadow">

      <form  method="post" action="">

          {% include 'snippets/forms/form_base.html' %}

      <button type="submit" class="btn btn-default">Получить новый пароль</button>
    </form>
  </div>
{% endblock %}


