{% extends "account/base.html" %}



{% block head_title %}Изменить пароль{% endblock %}

{% block content %}
    <div class="container">
    <div class="auth-form box sidebar-shadow">
<h1>{% if token_fail %}Ошибка{% else %}Изменить пароль{% endif %}</h1>
    <hr>
    
{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>Ссылка для смены пароля недействительна, возможно потому что уже была использована.
    Пожалуйста, сделайте запрос на <a href="{{ passwd_reset_url }}">новый пароль</a>.
  {% else %}
{% if form %}
<form method="POST" action="" class="uniForm">

  {% include 'snippets/forms/form_base.html' %}
  <div class="form-actions">
        <button type="submit" class="btn btn-default">Изменить пароль</button>
  </div>
</form>
{% else %}
<p>Ваш пароль изменён.</p>
{% endif %}
{% endif %}
</div>
 </div>
{% endblock %}




