<html>
  <head>
    <title>Доступ запрещён</title>
    <meta http-equiv="Content-Type" content="text/html; Charset=UTF-8" />
    <style type="text/css">a {color:#0088C9; text-decoration:none;} a:hover { text-decoration:underline;}</style>
  </head>

  <body style="font:14px Arial, sans-serif">
    <div style="background:#0C436E;padding:5px 10px;font-size:18px;color:#FFF">
      Error <span style="font-size:24px">403</span>
    </div>
    <div style="padding: 10px">
      <span style="font-size:24px;text-transform:uppercase">Доступ запрещён</span> - Кликните здесь для того чтобы вернуться <a href="http://varmax.djangohost.name/" rel="nofollow">varmax.djangohost.name</a>
    </div>
  </body>

</html>